@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');

@import 'bulma/css/bulma.css';

html, body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background-color: white;
}

.underscore {
  background-color: #5e5e5e;
  height: 4px;
  width: 40px;
}
